<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="NuGet.Build.Packaging" version="0.2.5-dev.8" targetFramework="xamarinios10" developmentDependency="true" />
    <package id="akavache" version="6.10.20" targetFramework="xamarinios10" />
    <package id="Microsoft.AppCenter" version="3.4.3" targetFramework="xamarinios10" />
    <package id="Microsoft.AppCenter.Crashes" version="3.4.3" targetFramework="xamarinios10" />
    <package id="Microsoft.AppCenter.Analytics" version="3.4.3" targetFramework="xamarinios10" />
</packages>